.claude/
.trae/
docs/

# markdown-master
skills/markdown-master/.pytest_cache/
skills/markdown-master/examples/
skills/markdown-master/tests/
skills/markdown-master/scripts/__pycache__/

# word-master
skills/word-master/.pytest_cache/
skills/word-master/examples/
skills/word-master/tests/
skills/word-master/scripts/__pycache__/
